services:
  database:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
      - PGDATA=/data/postgres
      - POSTGRES_DB=iot
    ports:
      - "5432:5432"
    volumes:
      - database:/var/lib/pgql
    networks:
      - docker_network
  {{.name}}:
    build: .
    env_file:
      - .env
    ports: 
      - "8080:8080"
    networks:
      - docker_network
volumes:
  database:
    driver: local
networks:
  docker_network:
    driver: bridge