package main

import (
	"{{.name}}/config"
	"{{.name}}/internal/app"
	"{{.name}}/pkg/database"
	"{{.name}}/pkg/logger"

	"go.uber.org/fx"
)

func main() {
	fx.New(
		config.Module,
		database.Module,
		app.Module,
		logger.Module,
	).Run()
}
