package router

import (
	"{{.name}}/config"
	"{{.name}}/internal/middleware"
	"{{.name}}/pkg/graceful"
	"{{.name}}/pkg/logger"
	"{{.name}}/pkg/swagger"
	"context"
	"fmt"
	"time"

	"github.com/gin-gonic/gin"
	"github.com/spf13/cast"
	"go.uber.org/fx"
)

type RouterParams struct {
	fx.In
	HealthRouter HealthRouter
	Logger       *logger.StandardLogger
	ErrorHandler *middleware.ErrorHandler
}

func registerSwaggerHandler(g *gin.Engine) {
	swaggerAPI := g.Group("/swagger")
	swag := swagger.NewSwagger()
	swaggerAPI.Use(swag.SwaggerHandler(false))
	swag.Register(swaggerAPI)
}

func startServer(g *gin.Engine, lifecycle fx.Lifecycle, logger *logger.StandardLogger, config *config.Config) {
	gracefulService := graceful.NewService(graceful.WithStopTimeout(time.Second), graceful.WithWaitTime(time.Second))
	gracefulService.Register(g)
	lifecycle.Append(
		fx.Hook{
			OnStart: func(context.Context) error {
				port := fmt.Sprintf("%d", cast.ToInt(config.Server.Port))
				fmt.Println("run on port:", port)
				go gracefulService.StartServer(g, port)
				return nil
			},
			OnStop: func(context.Context) error {
				gracefulService.Close(logger)
				return nil
			},
		},
	)
}

func NewRouter(params RouterParams) *gin.Engine {
	router := gin.Default()

	router.Use(middleware.CorsMiddleware())
	router.Use(middleware.LoggingMiddleware(params.Logger))
	router.Use(params.ErrorHandler.Handle())

	api := router.Group("/api/v1")
	params.HealthRouter.Register(api)

	return router
}

var Module = fx.Options(
	fx.Provide(middleware.NewErrorHandler),
	fx.Provide(NewHealthRouter),
	fx.Provide(NewRouter),
	fx.Invoke(registerSwaggerHandler, startServer),
)

